body {
    background-image:url("../images/lock.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

.container {
    background-color: transparent;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
}

input {
    width: 94%;   
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add spacing between the <p> tag and the container */
    font-size: 14px; /* Adjust font size if needed */
    color: green; /* Optional: Set the color */
}